@import "tailwindcss";

@font-face {
  font-family: "B-Ziba";
  src: url('../../public/font/B\ Ziba_0.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'B-Ziba', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  direction: rtl;

}